

body{
    background-color: rgb(248, 248, 248);
}


#sign-up-container {
    
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.068), 0 6px 20px 0 rgba(0, 0, 0, 0.075);
    
    display: flex;
    flex-direction: column;   /* Stacks items vertically */
    justify-content: center;  /* Centers items vertically */
    align-items: center;      /* Centers items horizontally */

    text-align: center;       /* Centers inline text horizontally */
  
    border-radius: 1.5vh;
    width: 30vh;
    height: 40vh;


  }
  

#sign-in-inputs{

    display: flex;
    flex-direction: column;   /* Stacks items vertically */
    justify-content: center;  /* Centers items vertically */
    align-items: center;      /* Centers items horizontally */
    
    text-align: center;       /* Centers inline text horizontally */

 

    right: 50px;

    width: 80%;
    height: 60%;
    row-gap: 1vh;
    


}

#sign-in-buttons{

    display: flex;
    flex-direction: column;   /* Stacks items vertically */
    justify-content: center;  /* Centers items vertically */
    align-items: center;      /* Centers items horizontally */
  
    text-align: center;       /* Centers inline text horizontally */


    row-gap: 1vh;

    width: 80%;
    height: 50%;
 

}

.defaultText{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 88, 88);
    font-size: 1.5vh;
}


#sign-up-title{



    width: 23vh;
    height: 5vh;

    display: flex;         /* Use flexbox to arrange children in a row */
    flex-direction: row;  /* Ensure children are arranged in a row (default) */
    align-items: center;  /* Center children vertically within the container */
    justify-content: space-between; /* Distribute space between children */

}

#signup-text{


    color: rgb(70, 70, 70);
    height: 1px;
    font-size: 3vh;
    

}

#signinor{
    background-color: rgb(255, 255, 255);
    height: .5%;
    width: 90%;
    display: flex;         /* Use flexbox to arrange children in a row */
    flex-direction: row;  /* Ensure children are arranged in a row (default) */
    align-items: center;  /* Center children vertically within the container */
    justify-content: space-between; /* Distribute space between children */

}

.lower-vertical-line{
    width: 45%;
    height: 100%;
    background-color: rgb(133, 133, 133);

}

input{

    border-radius: .5vh;
    border-width: .2vh;
    border-style: solid;
    border-color: rgb(133, 133, 133);
    
    
    background-color: rgb(255, 255, 255);
    
    width: 22.5vh;
    height: 5vh;

   

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75vh;
    color: rgb(0, 0, 0);


}

button{
    
    border-radius: 3vh;
    border-width: .2vh;
    border-style: solid;
    border-color: rgb(133, 133, 133);
    
    background-color: rgb(255, 255, 255);
    
    width: 22.5vh;
    height: 5vh;

 

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
    color: rgb(56, 56, 56);

}

button:hover{

    background-color: rgb(231, 231, 231);

}

button:active{

    background-color: rgb(212, 212, 212);

}

