

body{
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;


}


#sign-up-container {
    
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.068), 0 6px 20px 0 rgba(0, 0, 0, 0.075);
    
    display: flex;
    flex-direction: column;   /* Stacks items vertically */
    justify-content: center;  /* Centers items vertically */
    align-items: center;      /* Centers items horizontally */

    text-align: center;       /* Centers inline text horizontally */
  
    transform: translateY(-50px);

    border-radius: 1.5vh;
    width: 35vh;
    height: 40vh;


  }
  

#sign-in-inputs{

    display: flex;
    flex-direction: column;   /* Stacks items vertically */
    justify-content: center;  /* Centers items vertically */
    align-items: center;      /* Centers items horizontally */
    
    text-align: center;       /* Centers inline text horizontally */

 

    right: 50px;

    width: 80%;
    height: 60%;
    row-gap: 1vh;
    


}

#sign-in-buttons{

    display: flex;
    flex-direction: column;   /* Stacks items vertically */
    justify-content: center;  /* Centers items vertically */
    align-items: center;      /* Centers items horizontally */
  
    text-align: center;       /* Centers inline text horizontally */


    row-gap: 1vh;

    width: 80%;
    height: 50%;
 

}

#sign-in-button{
    background-color: rgb(76, 79, 240);
    border-color: rgb(61, 61, 151);
    border-style: none;
    color: white;
}

#sign-in-button:hover{
    background-color: rgb(64, 64, 172);
    border-style: none;
    color: white;
}

#sign-in-button:active{
    background-color: rgb(52, 52, 141);
    border-color: rgb(61, 61, 151);
    color: white;
}

#google-signin{
    font-size: 1.75vh;

    
}

#google-image{

    width: 1.5vh;
    height: 1.5vh;

}


.defaultText{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(27, 27, 27);
    font-size: 1.5vh;
}


#sign-up-title{

    
    width: 28vh;
    height: 5vh;

    display: grid;         /* Use flexbox to arrange children in a row */
    flex-direction: row;  /* Ensure children are arranged in a row (default) */
    align-items: center;  /* Center children vertically within the container */
    justify-content: space-between; /* Distribute space between children */

}

#signup-text{


    color: rgb(46, 46, 46);
    height: 1px;
    font-size: 3vh;
    

}

#signinor{
    background-color: rgb(255, 255, 255);
    height: .5%;
    width: 90%;
    display: flex;         /* Use flexbox to arrange children in a row */
    flex-direction: row;  /* Ensure children are arranged in a row (default) */
    align-items: center;  /* Center children vertically within the container */
    justify-content: space-between; /* Distribute space between children */

}

.lower-vertical-line{
    width: 45%;
    height: 100%;
    background-color: rgb(133, 133, 133);

}

input{

    border-radius: .5vh;
    border-width: .2vh;
    border-style: solid;
    border-color: rgb(133, 133, 133);
    
    
    background-color: rgb(255, 255, 255);
    
    width: 27.5vh;
    height: 5vh;

   

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75vh;
    color: rgb(0, 0, 0);


}

#forgotpassword{

    background-color: aqua;

}

button{
    
    border-radius: 3vh;
    border-width: .2vh;
    border-style: solid;
    border-color: rgb(133, 133, 133);
    
    background-color: rgb(255, 255, 255);
    
    width: 27.5vh;
    height: 5vh;

 

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75vh;
    color: rgb(56, 56, 56);

}

button:hover{

    background-color: rgb(231, 231, 231);

}

button:active{

    background-color: rgb(212, 212, 212);

}

